<!DOCTYPE html>
<html>
	<head>
		<title> ChainBlockMaster </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<link rel="stylesheet" href="style.css">

	</head>
	<body>
	<!--This is out title-->
	 <h1><p class=Brandname title = "This is a 백석대학교 web page project from the laboratory of  professor Yunhee Kang" > BlockChain </p></h1>
	 <hr>

	 <nav>

	 			<ul>
						 <li><a href="index.html">홈</li>
					 	<li><a href="upload.html">Upload</li>
						<li><a href="info.html">Uploaded</li>
						<li><a href="check.html">Check</li>
					
			 </ul>

     </nav>
  
 <!--<img class="logo" src="img/본부동.jpg" alt="BlockChain">
	 <div class="wrapper">
            <article  class="img-info">
                <h2>BAEKSEOK UNIVERSITY</h2>
                <P>JASDLKJFS;AJL;AKJDSLSFAJLKFJWJFEWOIBFEHWAGKJDFLJASDLFJEOWOI0UIOUROIEWHRHWIEHHQKJHKDFHSALKJFHJG<p></p>
                    ;ROEJIOWRHLKWEJFLKHKHSDFKJHSKJDFHIUEFJ;LQWEPWEQKFAJDLKFJ KFN VDAKLEURILF M IATH G GFJ NA HA TEWQHT</P>>
                </article>
                <img src="img/bchain.jpg" alt="BlockChain">
	 </div>*\-->








  </p>
        <h5 style="text-align: right;"> BAEKSEOK UNIVERSITY</h5>
        </br>




</body>
</html>
