<!doctype html>
<title>Upload new File</title>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<link rel="stylesheet" href="style.css">
<body style="text-align: center">
  <h1><p class=Brandname title = "This is a 백석대학교 web page project from the laboratory of  professor Yunhee Kang" > BlockChain </p></h1>
  <hr>
  <nav>

    <ul>
        <li><a href="index.html">홈</li>
        <li><a href="upload.html">Upload</li>
       <li><a href="info.html">Uploaded</li>
       <li><a href="check.html">Check</li>
     
  </ul>

</nav>

<p>
    <h1 style="font-size: 30px;">Upload New File</h1>

    <form action="" method=post enctype=multipart/form-data>
      <p>
        <label for=name>Your name</label>
        <input id=name type=text name=owner>
      </p>
      <p>
        <input type=file name=file>
        <input type=submit value=Upload>
      </p>
    </form>
  </p>
  <p>
    <h1 style="font-size: 30px;">Check File</h1>
    <form action="check" method=post enctype=multipart/form-data>
      <p>
        <input type=file name=file>
        <input type=submit value=Upload>
      </p>
    </form>
  </p>
</body>
